@* <remarks> *@
@*  Author: Team P1-3 *@
@*  </remarks> *@
@model LivingLab.Web.Models.ViewModels.SessionStats.ViewSessionStatsViewModel

@{
    ViewData["Title"] = "View Session Statistics";
}

<link rel="Stylesheet" href="~/css/viewSessionStats.css" type="text/css" xmlns="http://www.w3.org/1999/html"/>

<div class="grid grid-cols-2 mb-2">
    <div>
        <h3 class="text-lg"> @Model.SessionStatsList[0].Lab.LabLocation </h3>
        <h1 class="text-2xl"> View Session Statistics</h1>

    </div>

    <div class="justify-self-end">
    @*<form asp-controller="SessionStats" asp-action="Export" method="get">*@
    <button id="exportBtn" type="button" class="btn btn-primary font-bold rounded">
        Export
    </button>
    @*</form>*@
    </div>
    
<div class="chartCard mt-4 w-100 h-full flex items-center justify-center">
        <div class="chartBox w-full p-2 rounded-lg border-4 bg-white">
            <canvas id="durationLoggedChart"></canvas>
        </div>
    </div>
    
        <div class="chartCard mt-4 w-100 h-full flex items-center justify-center">
            <div class="chartBox w-full p-2 rounded-lg border-4 bg-white">
                <canvas id="dataUploadedChart"></canvas>
            </div>
        </div>
</div>

<hr class="mb-8"/>

<table id="table_id" class="display">
    <thead>
    <tr>
        <th>#</th>
        <th>DATE</th>
        <th>LOG IN</th>
        <th>LOG OUT</th>
        <th>DURATION (hrs)</th>
        <th>DATA UPLOADED</th>
        <th>LAB IN CHARGE</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var report in Model.SessionStatsList) {
        <tr>
            <td class="Id"> @report.Id </td>
            <td class="date"> @report.Date.ToString("MM/dd/yyyy") </td>
            <td class="login"> @report.LoginTime.ToString("MM/dd/yyyy h:mm:ss tt") </td>
            <td class="logout"> @report.LogoutTime.ToString("MM/dd/yyyy h:mm:ss tt") </td>
            <td class="duration"> @report.LogoutTime </td>
            <td class="dataUploaded"> @report.DataUploaded  </td>
            <td class="labInCharge"> @($"{report.Lab.ApplicationUser.FirstName} {report.Lab.ApplicationUser.LastName}")   </td>
        </tr>
    }
    
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/viewSessionStats.js"></script>
    <script src="~/js/exportToCsv.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const dataTable = document.getElementById("table_id");
        const exportBtn = document.getElementById("exportBtn");
    
        exportBtn.addEventListener("click", () => {
            const exporter = new ExportToCSV(dataTable);
            const csvOutput = exporter.convertToCSV();
            const csvBlob = new Blob([csvOutput], { type: "text/csv" });
            const blobUrl = URL.createObjectURL(csvBlob);
            const anchorElement = document.createElement("a");
    
            anchorElement.href = blobUrl;
            anchorElement.download = "Session Statistics.csv";
            anchorElement.click();
    
            setTimeout(() => {
                URL.revokeObjectURL(blobUrl);
            }, 500);
        });
    </script>
    <script src="~/js/viewSessionStatsCharts.js"></script>
}
