@model LivingLab.Web.Models.ViewModels.EnergyUsage.EnergyUsageAnalysisViewModel

@section Styles{
    <link rel="stylesheet" href="~/lib/jquery-ui-1.13.1/jquery-ui.min.css"/>
}

@{
    ViewData["Title"] = "View Energy Usage Analysis";
}

<div class="flex">
    <div class="flex-grow">
        <p class="text-4xl pb-3 flex items-center font-black">
            Energy Usage Analysis
        </p>
    </div>
</div>

@* Graphs *@
<div class="grid grid-cols-2 md:grid-cols-1 gap-4">
    <h2 class="font-bold text-3xl text-slate-900">Lab Energy Usage</h2>
    <div class="labDiv bg-white p-5 shadow-lg rounded gap-4">
        <input type="hidden" id="labLocation" value="NYP-SR7C"/>
        <div class="flex justify-between mb-5">
            <div class="flex items-end">
                <div class="relative inline-flex">
                    <select id="selectLabLocation" class="select select-bordered">
                        @foreach (var lab in Model.LabEUList)
                        {
                            <option>@lab.LabLocation</option>
                        }
                    </select>
                </div>
                <input type="text" id="start" class="input input-bordered ml-4" placeholder="Start date"/>
                <input type="text" id="end" class="input input-bordered ml-4" placeholder="End date"/>
                <input type="button" id="filter" class="btn btn-primary ml-4" value="Filter"/>
                <input type="button" id="resetFilter" class="btn btn-outline btn-primary btn-error ml-4" value="Reset"/>
            </div>
        </div>
        <canvas id="lineChart"></canvas>
    </div>
</div>

<div class="grid grid-cols-2 md:grid-cols-1 gap-4">
    <h2 class="font-bold text-3xl text-slate-900 mt-5">Total Energy Usage</h2>
    <div class="labDiv bg-white p-5 shadow-lg rounded gap-4">
        <div class="flex justify-between mb-5">
            <div class="flex items-end">
                <input type="text" id="startAllEnergyUsageTrend" class="input input-bordered" placeholder="Start date"/>
                <input type="text" id="endAllEnergyUsageTrend" class="input input-bordered ml-4" placeholder="End date"/>
                <input type="button" id="filterAllEnergyUsageTrend" class="btn btn-primary ml-4" value="Filter"/>
                <input type="button" id="resetFilterAllEnergyUsageTrend" class="btn btn-outline btn-primary btn-error ml-4" value="Reset"/>
            </div>
        </div>
        <canvas id="lineChartAllEnergyUsageTrend"></canvas>
    </div>
</div>

@* Tables *@
<div class=" my-8">
    <a class="btn btn-primary" asp-controller="EnergyUsageAnalysis" asp-action="Export">Export</a>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full" id="device">
                    <thead class="bg-gray-50 dark:bg-gray-700 text-center">
                    <tr>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Device Serial No.
                        </th>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Device Type
                        </th>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Total Energy Usage
                        </th>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Energy Usage Cost
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.DeviceEUList)
                    {
                        <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-white">
                                <a asp-controller="EnergyUsageAnalysis" asp-action="DeviceMoreDetail"> @item.DeviceSerialNo </a>
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.DeviceType
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.TotalEnergyUsage kWh
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                $ @item.EnergyUsageCost
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full" id="lab">
                    <thead class="bg-gray-50 dark:bg-gray-700 text-center">
                    <tr>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Lab Location
                        </th>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Total Energy Usage
                        </th>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Energy Usage Cost
                        </th>
                        <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                            Energy Usage Intensity
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.LabEUList)
                    {
                        <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-white">
                                <a asp-controller="EnergyUsageAnalysis" asp-action="LabMoreDetail"> @item.LabLocation </a>
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.TotalEnergyUsage kWh
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                $ @item.EnergyUsageCost
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.EnergyUsageIntensity kWh/m<sup>2</sup>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-ui-1.13.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="~/js/viewEnergyUsageTrendAllLab.js"></script>
    <script src="~/js/viewEnergyUsageTrendSelectedLab.js"></script>
    <script src="~/js/labAndDeviceTable.js"></script>
    <script>
        $(document).ready(function() {
    console.log("imhere");
    $('#device').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
    $('#lab').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
    </script>
}