@model LivingLab.Web.Models.ViewModels.EnergyUsage.EnergyUsageAnalysisViewModel
@{  
    ViewBag.Title = "Index";  
}  
  
<div class="flex">
    <div class="flex-grow">
        <p class="text-4xl pb-3 flex items-center font-black">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 pr-2" viewBox="0 0 20 20" fill="currentColor">
                <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"/>
                <path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"/>
            </svg>
            Dashboard
        </p>
    </div>
</div>
<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" asp-controller="EnergyUsageAnalysis" asp-action="Export">Export</a>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full" id="device">
                    <thead class="bg-gray-50 dark:bg-gray-700 text-center">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Device Serial No.
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Device Type
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Total Energy Usage
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Energy Usage Cost
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.DeviceEUList)
                        {
                        <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-white">
                                <a asp-controller= "EnergyUsageAnalysis" asp-action= "DMoreData" > @item.DeviceSerialNo </a>
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.DeviceType
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.TotalEnergyUsage Wh
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                $ @item.EnergyUsageCost
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full" id= "lab">
                    <thead class="bg-gray-50 dark:bg-gray-700 text-center">
                        <tr>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Lab Location
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Total Energy Usage
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Energy Usage Cost
                            </th>
                            <th scope="col" class="py-3 px-6 text-s font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400">
                                Energy Usage Intensity
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.LabEUList)
                        {
                        <tr class="border-b odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700 dark:border-gray-600 text-center">
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-white">
								<a asp-controller= "EnergyUsageAnalysis" asp-action= "LMoreData" > @item.LabLocation </a>
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.TotalEnergyUsage kWh
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                $ @item.EnergyUsageCost
                            </td>
                            <td class="py-4 px-6 text-sm text-gray-900 whitespace-nowrap dark:text-gray-400">
                                @item.EnergyUsageIntensity kW/m<sup>2</sup>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#device').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
    $('#lab').DataTable( {
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>
