@model LivingLab.Web.ViewModels.ViewAccessoryViewModel

@{
    ViewData["Title"] = "View Accessory Type";
}
<link rel="Stylesheet" href="~/css/viewAccessory.css" type="text/css"/>

<div class="m-0 overflow-hidden ">
    <div class="header sticky m-8">
        <h1 class="text-2xl">View Accessory Type</h1>
        <h2 class="text-lg"> NYP-SR7C </h2>
    </div>

    <div class=" flex justify-evenly m-8">
        <div class="card w-96 bg-base-200 shadow-xl">
            <figure>
                <img src="https://www.bisinfotech.com/wp-content/uploads/2022/01/Temperature-400x225.jpg"
                     alt="Sensors">
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Sensors</h2>
                <p>Quantity: Lorem ipsum</p>
                <div class="card-actions text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("ViewAccessoryDetails", "Accessory")'">
                        View More
                    </button>
                </div>
            </div>
        </div>
        <div class="card w-96 bg-base-200 shadow-xl">
            <figure>
                <img src="https://www.bisinfotech.com/wp-content/uploads/2022/01/Temperature-400x225.jpg"
                     alt="Sensors">
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Sensors</h2>
                <p>Quantity: Lorem ipsum</p>
                <div class="card-actions text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("ViewAccessoryDetails", "Accessory")'">
                        View More
                    </button>
                </div>
            </div>
        </div>
        <div class="card w-96 bg-base-200 shadow-xl">
            <figure>
                <img src="https://www.bisinfotech.com/wp-content/uploads/2022/01/Temperature-400x225.jpg"
                     alt="Sensors">
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Sensors</h2>
                <p>Quantity: Lorem ipsum</p>
                <div class="card-actions text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("ViewAccessoryDetails", "Accessory")'">
                        View More
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-evenly m-12">
        <div class="card w-96 bg-base-200 shadow-xl">
            <figure>
                <img src="https://www.bisinfotech.com/wp-content/uploads/2022/01/Temperature-400x225.jpg"
                     alt="Sensors">
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Sensors</h2>
                <p>Quantity: Lorem ipsum</p>
                <div class="card-actions text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("ViewAccessoryDetails", "Accessory")'">
                        View More
                    </button>
                </div>
            </div>
        </div>
        <div class="card w-96 bg-base-200 shadow-xl">
            <figure>
                <img src="https://www.bisinfotech.com/wp-content/uploads/2022/01/Temperature-400x225.jpg"
                     alt="Sensors">
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Sensors</h2>
                <p>Quantity: Lorem ipsum</p>
                <div class="card-actions text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("ViewAccessoryDetails", "Accessory")'">
                        View More
                    </button>
                </div>
            </div>
        </div>
        <div class="card w-96 bg-base-200 shadow-xl">
            <figure>
                <img src="https://www.bisinfotech.com/wp-content/uploads/2022/01/Temperature-400x225.jpg"
                     alt="Sensors">
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Sensors</h2>
                <p>Quantity: Lorem ipsum</p>
                <div class="card-actions text-center">
                    <button class="btn btn-primary"
                            onclick="location.href='@Url.Action("ViewAccessoryDetails", "Accessory")'">
                        View More
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>