@using LivingLab.Web.Models.ViewModels.Accessory
@model LivingLab.Web.Models.ViewModels.Accessory.ViewAccessoryTypeViewModel
@* <remarks> *@
@* Author: Team P1-3 *@
@* </remarks> *@
@{
    ViewData["Title"] = "Manage Accessory";
}
<link rel="Stylesheet" href="~/css/viewAccessory.css" type="text/css"/>


<div class="grid grid-cols-2 mb-2">
    <div>
        <h3 class="text-lg"> @Model.labLocation </h3>
        <h1 class="text-2xl"> Manage Accessory</h1>
    </div>
</div>

<hr class="mb-4"/>

<div class="container my-4 mx-auto">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        @foreach (var accessory in Model.accessoryTypeList)
        {
            <div class="card w-64 bg-base-100 shadow-xl m-4">
                <figure>
                                   @if (@accessory.Type.Contains("Buzzer"))
                                   {
                                       <img src="/images/Buzzer.jpg" alt="Buzzer">
                                   }
                                   else if (@accessory.Type.Contains("Humidity Sensor"))
                                   {
                                       <img src="/images/Temperature & Humidity Sensor.jpg" alt="Humidity Sensor">
                                   }
                                   else if (@accessory.Type.Contains("IR Sensor"))
                                   {
                                       <img src="/images/IR Sensor.jpg" alt="IR Sensor">
                                   }
                                   else if (@accessory.Type.Contains("LED Lights"))
                                   {
                                       <img src="/images/LED Lights.png" alt="Led Lights">
                                   }
                                   else if (@accessory.Type.Contains("Camera"))
                                   {
                                       <img src="/images/camera.png" alt="Camera">
                                   }
                                   else if (@accessory.Type.Contains("Proximity Sensor"))
                                   {
                                       <img src="/images/Proximity Sensor.jpg" alt="Proximity Sensor">
                                   }
                                   else if (@accessory.Type.Contains("Ultrasonic Sensor"))
                                   {
                                       <img src="/images/Ultrasonic Sensor.jpg" alt="Ultrasonic Sensor">
                                   }
                                   else if (@accessory.Type.Contains("pressure Sensor"))
                                   {
                                       <img src="/images/Pressure Sensor.jpg" alt="Pressure Sensor">
                                   }
                                   else {
                                      <img src="/images/Unknown.jpg" alt="Unknown">
                                   }
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title">@accessory.Type</h2>
                    <p>Quantity: @accessory.Quantity</p>
                    <div class="card-actions text-center">
                        <button id="viewMoreBtn" class="btn btn-outline btn-primary mt-2 viewMoreBtn" type="button">View More</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<form asp-controller="Accessory" asp-action="ViewAccessory" method="post" name="postAccessoryType">
    <input type="hidden" name="accessoryType"/>
    <input type="hidden" name="labLocation" value="@Model.labLocation"/>
</form>

@section Scripts {

    <script src="~/js/viewAccessoryType.js"></script>
}
