@* <remarks> *@
@* Author: Team P1-3 *@
@* </remarks> *@

@using LivingLab.Web.Models.ViewModels.Accessory
@model LivingLab.Web.Models.ViewModels.Accessory.ViewAccessoryTypeViewModel

@{
    ViewData["Title"] = "Manage Accessory";
}
<link rel="Stylesheet" href="~/css/viewAccessory.css" type="text/css"/>


<div class="grid grid-cols-2 mb-2">
    <div>
        <h3 class="text-lg"> @Model.labLocation </h3>
        <h1 class="text-2xl"> Manage Accessory</h1>
    </div>
    <div class="justify-self-end">
            <button id="addAccessoryModalBtn" class="btn btn-primary font-bold rounded" type="button">
                Add Accessory
            </button>
        </div>
</div>

<hr class="mb-4"/>

<div class="container my-4 mx-auto">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
        @foreach (var accessory in Model.accessoryTypeList)
        {
            <div class="card w-64 bg-base-100 shadow-xl m-4">
                <figure>
                                   @if (@accessory.Type.Contains("Buzzer"))
                                   {
                                       <img src="/images/Buzzer.jpg" alt="Buzzer">
                                   }
                                   else if (@accessory.Type.Contains("Humidity Sensor"))
                                   {
                                       <img src="/images/Temperature & Humidity Sensor.jpg" alt="Humidity Sensor">
                                   }
                                   else if (@accessory.Type.Contains("IR Sensor"))
                                   {
                                       <img src="/images/IR Sensor.jpg" alt="IR Sensor">
                                   }
                                   else if (@accessory.Type.Contains("LED Lights"))
                                   {
                                       <img src="/images/LED Lights.png" alt="Led Lights">
                                   }
                                   else if (@accessory.Type.Contains("Camera"))
                                   {
                                       <img src="/images/camera.png" alt="Camera">
                                   }
                                   else if (@accessory.Type.Contains("Proximity Sensor"))
                                   {
                                       <img src="/images/Proximity Sensor.jpg" alt="Proximity Sensor">
                                   }
                                   else if (@accessory.Type.Contains("Ultrasonic Sensor"))
                                   {
                                       <img src="/images/Ultrasonic Sensor.jpg" alt="Ultrasonic Sensor">
                                   }
                                   else if (@accessory.Type.Contains("pressure Sensor"))
                                   {
                                       <img src="/images/Pressure Sensor.jpg" alt="Pressure Sensor">
                                   }
                                   else {
                                      <img src="/images/Unknown.jpg" alt="Unknown">
                                   }
                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title">@accessory.Type</h2>
                    <p>Quantity: @accessory.Quantity</p>
                    <div class="card-actions text-center">
                        <button id="viewMoreBtn" class="btn btn-outline btn-primary mt-2 viewMoreBtn" type="button">View More</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<form asp-controller="Accessory" asp-action="ViewAccessory" method="post" name="postAccessoryType" >
    <input type="hidden" name="accessoryType"/>
    <input type="hidden" name="labLocation" value="@Model.labLocation"/>
</form>

@* add accessory modal *@
<div class="bg-black bg-opacity-50 fixed inset-0 justify-center vh-100 items-center hidden" id="addOverlay">
    <div class="bg-white max-w-lg py-4 px-4 rounded shadow-xl text-gray-800">
        <div class="flex justify-between items-center">
            <h4 class="text-lg font-bold">Add Accessory</h4>
            <svg class="h-8 w-8 cursor-pointer p-1 hover:bg-gray-300 rounded-full closeAddModal" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd">
                </path>
            </svg>
        </div>
        <div>
            <p class="text-md-start">@Model.labLocation</p>
        </div>
        <div class="mt-4">
            <form class="w-full max-w-lg" asp-controller="Accessory" asp-action="CreateAccessory" method="post" id="addForm">
                <input type="hidden" id="labLocation" name="Accessory.Lab.LabLocation" value="@Model.labLocation"/>
                @{
                    @await Html.PartialAsync("_AddAccessoryDetails", new AccessoryDetailsViewModel())
                }
                <div class="mt-3 flex justify-end space-x-3">
                    <button type="button" class="btn btn-outline closeAddModal">
                        Cancel
                    </button>
                    <button class="btn btn-primary" type="submit">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/viewAccessoryType.js"></script>
}
