@using LivingLab.Web.Models.ViewModels.Device
@model LivingLab.Web.Models.ViewModels.Device.ViewDeviceTypeViewModel
@*  <remarks> *@
@*  Author: Team P1-3 *@
@*  </remarks> *@
@{
    ViewData["Title"] = "Manage Device";
}

<link rel="Stylesheet" href="~/css/viewDevice.css" type="text/css" xmlns="http://www.w3.org/1999/html"/>

<div class="grid grid-cols-2 mb-2">
    <div>
        <h3 class="text-lg"> NYP-SR7C </h3>
        <h1 class="text-2xl"> Manage Devices</h1>

    </div>
    @*
    <div class="justify-self-end">
        <button id="addDeviceBtn" class="btn btn-primary font-bold rounded">
            Add new device
        </button>
    </div>*@
</div>
<hr class="mb-4"/>

<div class= "container my-4 mx-auto">
        <div class= "flex flex-wrap -mx-1 lg:-mx-4">
        @foreach (var device in Model.ViewDeviceTypeDtos)
        {
            <div class="card w-64 bg-base-100 shadow-xl m-4">
                <figure>
                    @if (@device.Type.Contains("Humidity Sensor"))
                    {
                        <img src="/images/Temperature & Humidity Sensor.jpg" alt="Humidity Sensor">
                    }
                    else if (@device.Type.Contains("Temperature Sensor"))
                    {
                        <img src="/images/Temperature & Humidity Sensor.jpg" alt="Temperature Sensor">
                    }
                    else if (@device.Type.Contains("Light Sensor"))
                    {
                        <img src="/images/Light Sensor.jpg" alt="Light Sensor">
                    }
                    else if (@device.Type.Contains("Camera"))
                    {
                        <img src="/images/Surveillance Camera.jpg" alt="Surveillance Camera">
                    }
                    else if (@device.Type.Contains("Proximity Sensor"))
                    {
                        <img src="/images/Light Control.jpg" alt="VR">
                    }
                    else {
                       <img src="/images/Unknown.jpg" alt="Unknown">
                    }

                </figure>
                <div class="card-body items-center text-center">
                    <h2 class="card-title">@device.Type</h2>
                    <p>Quantity: @device.Quantity</p>
                    <div class="card-actions text-center">
                        <button id="viewMoreBtn" class="btn btn-outline btn-primary mt-2 viewMoreBtn" type="button">View More</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<form asp-controller="Device" asp-action="ViewAll" method="post" name="postDeviceType">
    <input type="hidden" name="deviceType"/>
    <input type="hidden" name="labLocation" value="@Model.labLocation"/>
</form>

<div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="overlay">
    <div class="bg-white max-w-lg py-4 px-4 rounded shadow-xl text-gray-800">
        <div class="flex justify-between items-center">
            <h4 class="text-lg font-bold">Add Device</h4>
            <svg class="h-8 w-8 cursor-pointer p-1 hover:bg-gray-300 rounded-full" id="close-modal" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd">
                </path>
            </svg>
        </div>
        <div>
            <p class="text-md-start">NYP-SR7C </p>
        </div>
            <div class="mt-4">
                <form class="w-full max-w-lg" method="post" enctype="multipart/form-data" asp-controller="Device" asp-action="AddDevice">
                    @{
                        @await Html.PartialAsync("_AddDevice", new DeviceViewModel());
                    }
                </form>
            </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/viewDeviceType.js"></script>
}