<<<<<<< HEAD
﻿@model LivingLab.Web.ViewModels.DeviceViewModel
=======
﻿@model LivingLab.Web.ViewModels.ViewDeviceViewModel
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4

@{
ViewData["Title"] = "View Device";
}

<<<<<<< HEAD
<h2> @Model.Lab.Name </h2>
=======
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>ID</th>
<<<<<<< HEAD
            <th>Name</th>
            <th>Description</th>
            <th>Serial Num</th>
            <th>Cost</th>
            <th>Qty</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model.Devices) {
            <tr>
                <td> @device.Id </td>
                <td> @device.Name </td>
                <td> @device.Desc </td>
                <td> @device.Serial </td>
                <td> @device.Cost </td>
                <td> @device.Qty </td>
                <td></td>
                <td></td>
            </tr>
=======
            <th>Date</th>
            <th>Serial Num</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model.DeviceList) {
        <tr>
            <td> @device.Id </td>
            <td> @device.ValidityDate.ToString("MM/dd/yyyy") </td>
            <td> @device.serialNo </td>
            <td> @device.DeviceType.Name</td>
            <td> @device.DeviceType.Description </td>
            <td> @device.DeviceType.Cost </td>
            <td> Qty </td>
        </tr>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
        }
    </tbody>
</table>


<div class="p-6 bg-gray-100 mb-20 h-auto">
<<<<<<< HEAD
                        
        <div class="sm:px-6 w-full">
            <div class="px-4 md:px-10 py-4 md:py-7">
                <div class="flex items-center justify-between">
                    <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">View Devices</p>
                    <div class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded">
                        <p>Sort By:</p>
                        <select aria-label="select" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1">
                            <option class="text-sm text-indigo-800">Latest</option>
                            <option class="text-sm text-indigo-800">Oldest</option>
                            <option class="text-sm text-indigo-800">Latest</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
                <div class="sm:flex items-center justify-between">
                    <div class="flex items-center">
     <div class="pt-2 relative mx-auto text-gray-600">
        <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="Search">
        <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
      </div>                    
                    

                    </div>
                    <button onclick="popuphandler(true)" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                        <p class="text-sm font-medium leading-none text-white">Add Device</p>
                    </button>
                </div>
                <div class="mt-7 overflow-x-auto">
                    <table class="w-full whitespace-nowrap">
                        <tbody>
=======

    <div class="sm:px-6 w-full">
        <div class="px-4 md:px-10 py-4 md:py-7">
            <div class="flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">View Devices</p>
                <div class="py-3 px-4 flex items-center text-sm font-medium leading-none text-gray-600 bg-gray-200 hover:bg-gray-300 cursor-pointer rounded">
                    <p>Sort By:</p>
                    <select aria-label="select" class="focus:text-indigo-600 focus:outline-none bg-transparent ml-1">
                        <option class="text-sm text-indigo-800">Latest</option>
                        <option class="text-sm text-indigo-800">Oldest</option>
                        <option class="text-sm text-indigo-800">Latest</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10">
            <div class="sm:flex items-center justify-between">
                <div class="flex items-center">
                    <div class="pt-2 relative mx-auto text-gray-600">
                        <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                               type="search" name="search" placeholder="Search">
                        <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                            <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                 viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                 width="512px" height="512px">
                            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
                        </button>
                    </div>


                </div>
                <button onclick="popuphandler(true)" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                    <p class="text-sm font-medium leading-none text-white">Add Device</p>
                </button>
            </div>
            <div class="mt-7 overflow-x-auto">
                <table class="w-full whitespace-nowrap">
                    <tbody>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                        <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">

                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">#</p>
                                </div>
                            </th>
                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">DEVICE ID</p>
                                </div>
                            </th>
                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">DEVICE NAME</p>
                                </div>
<<<<<<< HEAD
                            </th>                              
=======
                            </th>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">DESCRIPTION</p>
                                </div>
<<<<<<< HEAD
                            </th>    
=======
                            </th>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">SERIAL NUMBER</p>
                                </div>
<<<<<<< HEAD
                            </th> 
=======
                            </th>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">COST</p>
                                </div>
<<<<<<< HEAD
                            </th>   
=======
                            </th>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                            <th class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">QUANTITY</p>
                                </div>
                            </th>

<<<<<<< HEAD
                        </tr>                        
=======
                        </tr>
                        @{int i = 1;}
                        @foreach (var device in Model.DeviceList) {
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                        <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">

                            <td class="">
                                <div class="flex items-center pl-5">
<<<<<<< HEAD
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">1</p>
=======
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">@i</p>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                                </div>
                            </td>
                            <td class="">
                                <div class="flex items-center pl-5">
<<<<<<< HEAD
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">1</p>
=======
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">@device.Id</p>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                                </div>
                            </td>
                            <td class="">
                                <div class="flex items-center pl-5">
<<<<<<< HEAD
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">Sensors</p>
                                </div>
                            </td>   
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">To measure temp humidity vibration</p>
                                </div>
                            </td>  
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">S-1001</p>
                                </div>
                            </td>  
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">$100</p>
                                </div>
                            </td>   
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">10</p>
                                </div>
                            </td>
                             <th class="pl-4">
                                 <button class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                             </th>                           
                        </tr>

                        <tr tabindex="0" class="focus:outline-none h-16 border border-gray-100 rounded">

                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">2</p>
=======
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">@device.DeviceType.Name</p>
                                </div>
                            </td>
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">@device.DeviceType.Description</p>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                                </div>
                            </td>
                            <td class="">
                                <div class="flex items-center pl-5">
<<<<<<< HEAD
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">2</p>
=======
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">@device.serialNo</p>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
                                </div>
                            </td>
                            <td class="">
                                <div class="flex items-center pl-5">
<<<<<<< HEAD
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">Robots</p>
                                </div>
                            </td>   
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">Follow researcher around labs</p>
                                </div>
                            </td>  
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">S-1002</p>
                                </div>
                            </td>  
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">$10,000</p>
                                </div>
                            </td>   
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">2</p>
                                </div>
                            </td>
                             <th class="pl-4">
                                 <button class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                             </th>                           
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
=======
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">$@device.DeviceType.Cost</p>
                                </div>
                            </td>
                            <td class="">
                                <div class="flex items-center pl-5">
                                    <p class="text-base font-medium leading-none text-gray-700 mr-2">1</p>
                                </div>
                            </td>
                            <th class="pl-4">
                                <button class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                            </th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
>>>>>>> 7177fb045fda2cf42579f6e724d0b614b71063e4
