@model List<LogItemViewModel>

@{
    ViewData["Title"] = "Manual Log";
}

<h2 class="text-2xl">Manual Log</h2>

<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file" itemtype="csv"/>
    <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Upload"/>
</form>

@if (Model?.Count > 0)
{
    <input id="deviceSerialNumber" hidden value="@Model[0].DeviceSerialNo"/>
    <form asp-action="Save" method="post">
        <table id="logTable" class="table-auto w-full mt-5">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m[0].DeviceSerialNo)</th>
                <th>@Html.DisplayNameFor(m => m[0].EnergyUsage)</th>
                <th>@Html.DisplayNameFor(m => m[0].Interval)</th>
                <th>@Html.DisplayNameFor(m => m[0].LoggedDate)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td class="text-center">@log.DeviceSerialNo</td>
                    <td><input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" value="@log.EnergyUsage"/></td>
                    <td><input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" value="@log.Interval"/></td>
                    <td><input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" value="@log.LoggedDate"/></td>
                    <td><button class="btn btn-close bg-red-500">Delete</button></td>
                </tr>
            }
            </tbody>
        </table>
        <div class="flex justify-between">
            <input type="submit" value="Save" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded align-end">
            <button type="button" id="btnAdd" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>
        </div>
    </form>
}

@section Scripts
{
    <script src="~/js/manualLogExample.js"></script>
}